<!DOCTYPE html>
<html>
  <head>
    <title>Klubdyskusyjny</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="<%=  %>">klub dyskusyjny app</a>
      <% if session[:user] == "admin" %>
        <% if @topic %>
          <a class="navbar-brand" href="<%= X.path_for('edit_topic', { topic: @topic }) %>">Edytuj temat</a>
        <% end %>
        <a class="navbar-brand" href="<%= X.path_for('new_topic') %>">Dodaj temat</a>
        <a class="navbar-brand" href="<%= X.path_for('logout') %>">Wyloguj</a>
      <% end %>
    </nav>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
